pipeline/batchprocess.json
{
	"name": "batchprocess",
	"properties": {
		"activities": [
			{
				"name": "mybatch",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "tshark -r test.pcap -T fields -E header=y -e ip.src",
					"resourceLinkedService": {
						"referenceName": "pcap",
						"type": "LinkedServiceReference"
					},
					"folderPath": "pcap/yumaTestPcapfiles",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "mybatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('mybatch').output",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Case1"
						}
					]
				}
			}
		],
		"annotations": []
	}
}