pipeline/csvBashProcess.json
{
	"name": "csvBashProcess",
	"properties": {
		"activities": [
			{
				"name": "bashProcess",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "bash test.sh",
					"resourceLinkedService": {
						"referenceName": "pcap",
						"type": "LinkedServiceReference"
					},
					"folderPath": "pcap/yumaTestPcapfiles",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "bashProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputcsv",
					"value": {
						"value": "@json(concat('{\"activityName\":\"Copy1\",\"activityObject\":',activity('bashProcess').output,'}'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonArray",
					"value": {
						"value": "@variables('outputcsv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"outputcsv": {
				"type": "Array"
			},
			"jsonArray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}