pipeline/jsonBashProcess.json
{
	"name": "jsonBashProcess",
	"properties": {
		"activities": [
			{
				"name": "json1",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "bash testjsonOnly.sh",
					"resourceLinkedService": {
						"referenceName": "pcap",
						"type": "LinkedServiceReference"
					},
					"folderPath": "pcap/yumaTestPcapfiles",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "json1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "value",
					"value": {
						"value": "@activity('json1').Output.customOutput",
						"type": "Expression"
					}
				}
			},
			{
				"name": "updateToDb",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "updateToDb",
						"type": "NotebookReference"
					},
					"parameters": {
						"name": {
							"value": {
								"value": "@string(variables('value'))",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"variables": {
			"value": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}